.footer-links .box1,.box2,.box3
{
	padding: 50px 10px;
	background-color: #24b3e5;	
	text-transform: uppercase;
}
.footer-links .box2
{
	background-color: #0384ce;	
}
.footer-links .box3
{
	background-color: #315683;
}
.footer-links a
{
	color: #fff;
	font-size: 21px;
}
.sec_plac{
	color: white;
}
.sec_plac::placeholder{
	color: #efefef;
}
.sec_fe_a{
	color: #efefef;
}
.sec_fe_a:hover{
	color: white !important;
}

#msgBoxes{
	position: absolute;
	top: 695px;
	display: block;
	margin : 0 auto !important;
	width: 100%;
}
.msgBox1 a,.msgBox2 a, .msgBox3 a{
	color: #efefef;
	font-size: 14px;
	font-weight: 600;
}
.msgBox1 a:hover,.msgBox2 a:hover, .msgBox3 a:hover{
	color: white;
}
.msgBox1{
	padding: 15px 25px;
	color: white;
	background: #42B3E5;
	height: 250px;
	letter-spacing: 0.7px;
	word-spacing: 1px;
}
.msgBox2{
	padding: 15px 25px;
	color: white;
	background: #0384CE;
	height: 250px;
	letter-spacing: 0.7px;
	word-spacing: 1px;
}
.msgBox3{
	padding: 15px 25px;
	color: white;
	background: #3156A3;
	height: 250px;
	letter-spacing: 0.7px;
	word-spacing: 1px;
}

.ulst{
	list-style: none;
    padding-left: 5px;
}

.iCn{
	display: inline-block;
	
}
.iCn i{
	border: 1px solid #6f6f6f;
	padding: 3px;
	color: #6f6f6f;
	transition: all ease .2s;
}
.iCn:hover .icz {
	border: 1px solid #42B3E5;
	padding: 3px;
	color: white;
	background: #42B3E5;
	transition: all ease .2s;
}
.iCnContent{
	display: inline-block;
}

.bdr0{
	border-radius: 0 !important;
}
.msgBoX{
	padding: 10px;
	color: black;
	/* background: #3156A3; */
	font-size: 12px;
	height: auto;
	letter-spacing: 0.7px;
	word-spacing: 1px;
}
.ulsT{
	list-style: none;
    padding-left: 5px;
    color: black;
}
.msgBoX a{
	color: #333;
	font-size: 12px;
	font-weight: 600;
}
.msgBoX a:hover{
	color: black;
}
.bg-lb{
	background: #55bceb !important;
}
.clr-lb{
	background: #55bceb !important;
}
.clr-slb{
	background: #337ab7 !important;
}
.med_date{
	height: 50px;
	width: 80px;
	background: #55bceb;
}
.fs10pX {
	font-size: 10px !important;
}
.fs11pX {
	font-size: 11px !important;
}
.fs12pX {
	font-size: 12px !important;
}
.fs13pX {
	font-size: 13px !important;
}

.boXstyl{
	padding: 2px;
	background: #337ab7;
	color: white !important;
	top:20px;

}
.boXstyl::after{
	content: '';
	position: absolute;
	background: #3156A3;
	height: 10px;
	width: 10px;
	top:2px;
	right:-5px;
	transform: rotate(45deg);
	z-index: -1;
}
.boXstyl:hover{
	background: #3156A3;

}
.boXstyl:focus{
	background: #3156A3;

.joinus h3
{
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: capitalize;
	line-height: 45px;
}
.joinus p
{
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 23px;
}
.joinus ul
{
	padding-left: 40px !important;
    font-size: 14px;
	letter-spacing: 1px;
}
.joinus li
{
    font-size: 14px;
	list-style: disc;
	letter-spacing: 1px;
	line-height: 25px;
}

